.footer-container{
    padding: 2%;
    gap: 5%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #5379D7;
    color: white;
}

.footer-container .footer-image-container{
    min-width: 100px;
    max-width: 250px;
    flex: 1 1 auto;
}

.footer-container .footer-image-container img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
}

.footer-container .footer-texts-container{
    min-width: 40%;
    max-width: 80%;
    flex: 1 1 auto;
}

.footer-texts-container h1{
    font-weight: bold;
    font-size: 1.5rem;
}

.footer-texts-container ul li a{
    text-decoration: underline;
    transition: opacity 0.2s ease-in;
}

.footer-texts-container ul li a:hover{
    opacity: 0.5;
}

@media only screen and (max-width:486px){

    .footer-container{
        justify-content: center;
    }

    .footer-container .footer-image-container{
        margin-bottom: 5%;
    }    
}